<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <img src='../../assets/images/logo-transparent.png' width="350">
        <hr class="spacer is-1">
        <p class="subtitle has-text-white-bis is=5">© 2018 NuGet Trends</p>
      </div>
      <div class="column">
        <aside class="menu">
          <h3 class="title has-text-white-bis is-3">About</h3>
          <ul class="menu-list">
            <li><a><p class="subtitle has-text-white-bis is-5">Project</p></a></li>
            <li><a><p class="subtitle has-text-white-bis is-5">Behind the scenes</p></a></li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <aside class="menu has-text-white-bis">
          <h3 class="title has-text-white-bis is-3">Connect with us!</h3>
          <ul class="menu-list has-text-centered">
            <li>
              <span class="icon is-large">
                <i class="fab fa fa-3x fa-twitter"></i>
              </span>
              <span class="icon is-large">
                <i class="fab fa fa-3x fa-github"></i>
              </span>
            </li>
          </ul>
        </aside>
      </div>
    </div>

  </div>
</footer>
