@import '../../../colors';

footer {
  padding: 50px 20px 20px;
  background-color: $blue-darker;
}

.footer-item-header {
  font-size: 25px;
  margin: 0 0 12px;
  letter-spacing: 0;
  color: $white-ter;
}

.footer-item {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  color: $grey-light
}
