<footer>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <a href="/">
          <img src="../../assets/images/logo-inverted-350.png" alt="NuGet Trends brand logo">
        </a>
      </div>
      <div class="column has-text-centered">
        <div class="footer-item-header">Connect</div>
        <ul>
          <li>
            <a href="https://twitter.com/NuGetTrends" class="footer-item" target="_blank">
              <span class="icon is-large">
                  <i class="fab fa fa-2x fa-twitter"></i>
              </span>Twitter
            </a>
          </li>
          <li>
            <a href="https://github.com/dotnet/nuget-trends" class="footer-item" target="_blank">
              <span class="icon is-large">
                  <i class="fab fa fa-2x fa-github"></i>
              </span>GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="has-text-centered has-text-white-bis">
      Brought to you by <a href="https://github.com/bruno-garcia">Bruno Garcia</a> & <a href="https://github.com/joaopgrassi">João Grassi</a>
    </p>
    <p class="has-text-centered has-text-grey-light sentry-sponsor">
      <a href="https://sentry.io/welcome/" target="_blank" rel="noopener" title="Application Monitoring by Sentry">
        Hosted by <img src="../../assets/images/sentry-logo.svg" alt="Sentry" class="sentry-logo">
      </a>
    </p>
    <p class="has-text-centered has-text-grey-light version-info">
      <span class="version-badge" (click)="copyVersion()" title="Copy to clipboard">
        {{ shortSha }}
      </span>
    </p>
  </div>
</footer>
