@import '../../../colors';

footer {
  padding: 50px 20px 20px;
  background-color: $blue-darker;
}

.footer-item-header {
  font-size: 25px;
  margin: 0 0 12px;
  letter-spacing: 0;
  color: $white-ter;
}

.footer-item {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  color: $grey-light
}

.sentry-sponsor {
  margin-top: 10px;

  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: $grey-light;
    text-decoration: none;

    &:hover {
      color: $white-ter;

      .sentry-logo {
        opacity: 1;
      }
    }
  }

  .sentry-logo {
    height: 36px;
    width: auto;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
}
