.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.vs/
*.userprefs
*.user
*opencover.xml
lcov.info
bin/
obj/
.DS_Store
**/BenchmarkDotNet.Artifacts/*.log
!**/BenchmarkDotNet.Artifacts/results/*github.md
appsettings.local.json
src/NuGetTrends.Api/wwwroot
*.tar.gz
node_modules
# publish dirs
src/NuGetTrends.Api/nuget-trends-api/
src/NuGetTrends.Scheduler/nuget-trends-worker/


# ignore the host directory folder used on docker-compose
sql-data/
.direnv
