<div class="tags">
    <span
      class="tag is-large has-text-white"
      [ngStyle]="{'background-color': packageHistory.color}"
      *ngFor="let packageHistory of packageList">
      {{packageHistory.id}}
      <button
        type="button"
        class="tag-details-button"
        title="View package details"
        (click)="viewPackageDetails(packageHistory)">
        <i class="fa fa-info-circle"></i>
      </button>
      <button class="delete" (click)="removePackage(packageHistory)"></button>
    </span>
</div>
