@using Microsoft.AspNetCore.Components.Routing
@using NuGetTrends.Web.Client.Layout

<Router AppAssembly="typeof(NuGetTrends.Web.Client._Imports).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <section class="hero is-white hero-space">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title is-2">Page not found</h1>
                        <p class="subtitle">Sorry, the page you're looking for doesn't exist.</p>
                        <a href="/" class="button is-primary is-medium">Go Home</a>
                    </div>
                </div>
            </section>
        </LayoutView>
    </NotFound>
</Router>
