
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h3 class="title is-3">
        Find the history of your packages
      </h3>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="control has-icons-left has-icons-right">
            <app-search-input></app-search-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-package-list></app-package-list>
<section class="section">
  <div class="columns is-centered has-text-centered">
    <div class="column is-8">
      <div class="box is-shadowless">
        <canvas id="trend-chart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</section>
