<section class="section">
  <div class="columns is-centered has-text-centered">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <canvas id="published-chart1" width="400" height="200"></canvas>
        </div>
        <div class="card-content">
          <p class="title is-2 has-text-white">1.0040</p>
          <p class="subtitle is-4 has-text-white">Packages published this month</p>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <canvas id="published-chart2" width="400" height="200"></canvas>
        </div>
        <div class="card-content">
          <p class="title is-2 has-text-white">1.0040</p>
          <p class="subtitle is-4 has-text-white">Packages published this month</p>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <canvas id="published-chart3" width="400" height="200"></canvas>
        </div>
        <div class="card-content">
          <p class="title is-2 has-text-white">1.0040</p>
          <p class="subtitle is-4 has-text-white">Packages published this month</p>
        </div>
      </div>
    </div>
  </div>
</section>
