<footer>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <a href="/">
          <img src="../../assets/images/logo-inverted.png" width="400" alt="NuGet Trends brand logo">
        </a>
      </div>
      <div class="column has-text-centered is-offset-one-quarter">
        <div class="footer-item-header">About</div>
        <ul>
          <li><a href="" class="footer-item">Project</a></li>
          <li><a href="" class="footer-item">The Team</a></li>
        </ul>
      </div>
      <div class="column has-text-centered">
        <div class="footer-item-header">Connect</div>
        <ul>
          <li>
            <a href="" class="footer-item" target="_blank">
              <span class="icon is-large">
                  <i class="fab fa fa-2x fa-twitter"></i>
              </span>Twitter
            </a>
          </li>
          <li>
            <a href="" class="footer-item" target="_blank">
              <span class="icon is-large">
                  <i class="fab fa fa-2x fa-github"></i>
              </span>Github
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="has-text-centered has-text-white-bis">
      2018 - NuGet Trends
    </p>
  </div>
</footer>
