@using System.Reflection
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

<footer>
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <a href="/">
                    <img src="images/logo-inverted-350.png" alt="NuGet Trends brand logo" />
                </a>
            </div>
            <div class="column has-text-centered">
                <div class="footer-item-header">Connect</div>
                <ul>
                    <li>
                        <a href="https://twitter.com/NuGetTrends" class="footer-item" target="_blank" rel="noopener noreferrer">
                            <span class="icon is-large">
                                <i class="fab fa fa-2x fa-twitter"></i>
                            </span>Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/dotnet/nuget-trends" class="footer-item" target="_blank" rel="noopener noreferrer">
                            <span class="icon is-large">
                                <i class="fab fa fa-2x fa-github"></i>
                            </span>GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="has-text-centered has-text-white-bis">
            Brought to you by <a href="https://github.com/bruno-garcia">Bruno Garcia</a> &amp; <a href="https://github.com/joaopgrassi">João Grassi</a>
        </p>
        <p class="has-text-centered has-text-grey-light sentry-sponsor">
            <a href="https://sentry.io/welcome/" target="_blank" rel="noopener" title="Application Monitoring by Sentry">
                Hosted by <img src="images/sentry-logo.svg" alt="Sentry" class="sentry-logo" />
            </a>
        </p>
        <p class="version-info">
            <span class="version-badge" @onclick="CopyVersion" title="Copy to clipboard">
                @_shortFeSha
            </span>
        </p>
    </div>
</footer>

@code {
    private string _feVersion = "unknown";
    private string _shortFeSha = "unknown";

    protected override void OnInitialized()
    {
        var infoVersion = typeof(Footer).Assembly
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
        _feVersion = infoVersion ?? "unknown";
        var feParts = _feVersion.Split('+');
        var feSha = feParts.Length > 1 ? feParts[^1] : _feVersion;
        var isSha = feSha.Length > 8 && feSha.All(c => char.IsAsciiHexDigit(c));
        _shortFeSha = isSha ? feSha[..8] : feSha;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var beVersion = await JSRuntime.InvokeAsync<string>("uiInterop.getAppVersion");
            var beParts = beVersion.Split('+');
            var beSha = beParts.Length > 1 ? beParts[^1] : beVersion;

            var feParts = _feVersion.Split('+');
            var feSha = feParts.Length > 1 ? feParts[^1] : _feVersion;

            if (beSha != feSha && beSha != "unknown" && feSha != "unknown")
            {
                ToastService.ShowWarning("A new version is available. Please hard-refresh (Ctrl+Shift+R) to update.");
            }
        }
    }

    private async Task CopyVersion()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _feVersion);
    }

}
