@inherits LayoutComponentBase

<div class="site-content">
    <section class="hero search-pattern is-primary">
        <div class="hero-body main-header">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-centered is-12">
                        <a href="/"><img src="assets/images/logo-inverted.png" width="400" alt="NuGet Trends brand logo"></a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="control has-icons-left has-icons-right">
                            <section>
                                <div class="control is-large">
                                        <BlazoredTypeahead SearchMethod="SearchPackages"
                                                           TValue="Package"
                                                           TItem="Package"
                                                           Value="selectedPackage"
                                                           ValueChanged="@((Package p) => SelectedResultChanged(p))" 
                                                           ValueExpression="@( () => selectedPackage )">
                                            <SelectedTemplate>
                                                <div class="selected-template">
                                                    @context.PackageId
                                                </div>
                                            </SelectedTemplate>
                                            <ResultTemplate>
                                                @context.PackageId
                                            </ResultTemplate>
                                            <NotFoundTemplate>
                                                Sorry, there weren't any search results.
                                            </NotFoundTemplate>
                                        </BlazoredTypeahead>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered is-12">
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Body
</div>
<AppFooter />
@*<app-loading></app-loading>*@

@code {
    private FormExample FormModel = new FormExample();

    private IEnumerable<Package> Packages { get; set; }

    private Package selectedPackage;

    public MainLayout()
    {
        Packages = new[]
        {
            new Package("EntityFramework", 100),
            new Package("EntityFrameworkCore", 100),
            new Package("Dapper", 80),
            new Package("xunit", 200),
        };
    }

    private async Task<IEnumerable<Package>> SearchPackages(string searchText)
    {
        return await Task.FromResult(Packages.Where(x => x.PackageId.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private void SelectedResultChanged(Package package)
    {
        selectedPackage = package;
        Console.WriteLine(selectedPackage.PackageId);
    }

}

