@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

// brand colors
$blue-dark: #215C84;
$blue-darker: #153B54;
$blue-light: #A2BACBl;
$bg-color: #EFF0EB;


$primary: $blue-dark;

// Update some of Bulma's component variables
$body-background-color: $bg-color;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$footer-background-color: $blue-darker

