@import '../../../../colors';

$borderWidth: 3px;
$border-radius: 35px;

.packages-group {
  display: inline-block;
  margin: 20px;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: #0087e0; // TODO: Define a better color
  font-size: 1.1em;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: $border-radius;
  color: $white-ter;
  font-weight: bold;
}

input[type=radio]:checked + label {
  color: $blue-darker;
  background: $grey-lighter;
}
