<section class="filter-wrapper">
  <div class="keyword-wrapper control" [ngClass]="{'is-large is-loading' : isSearching}">
    <input class="input is-large" type="text" placeholder="" #searchBox [formControl]="queryField" />
    <span class="icon is-medium is-left">
      <i class="fa fa-search"></i>
    </span>
  </div>
  <ul class="filter-select">
    <li *ngFor="let package of results$ | async" class="filter-select-list">
      <article class="media" (click)="packageSelected(package.packageId)">
        <figure class="media-left">
          <p class="image is-32x32">
              <img src="{{package.iconUrl}}"
                   onerror="this.onerror=null;this.src='https://nuget.org/Content/Images/packageDefaultIcon-50x50.png';" />
          </p>
        </figure>
        <div class="media-content is-pulled-left">
          <div class="content">
            <p>{{package.packageId}}</p>
          </div>
        </div>
      </article>
  </ul>
</section>
