<app-navigation></app-navigation>
<div class="site-content">
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h3 class="title is-3">
          Find the history of your packages
        </h3>
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="control has-icons-left has-icons-right">
              <app-search-input></app-search-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
